<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <title>考试系统</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">在线考试系统1.0</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form">
        <input name="mobilePhone" placeholder="用户名" th:value="15167122048" type="text" lay-verify="required"
               class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" th:value="123456" placeholder="密码" type="password"
               class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>

<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
            /*layer.msg('玩命卖萌中', function () {
                //关闭后的操作
            });*/
            //监听提交
            form.on('submit(login)', function (data) {
                $.ajax({
                    url: '/login',
                    type: 'post',
                    dataType: 'json',
                    data: data.field,
                    success: function (data) {
                        console.log(data)
                        if (data.success) {
                            location.href='/index/main.html'
                        } else {
                            layer.msg(JSON.stringify(data.msg), function () {

                            });
                        }
                    }
                })
                return false;
            });
        });
    })
</script>

</body>
</html>